{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Katharine Wong</h2>
            </div>
<!--             <div class="mdl-card__media">
               <img src='{% static "/image/aboume.GIF" %}' border="0" alt="">
            </div>-->
            <div class="mdl-grid portfolio-copy">
                {% if personal %}
                {% for users in  personal %}
<!--                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">
                        {{ users.username }}
                    </h3>-->
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>{{ users.intro }}</p>
                    </div>
                    <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding ">
                        <p>GitHub: <a href="mailto:{{ user.email }}">{{ users.github_url }}</a></p>
                    </div>                    
                {% endfor %}
                {% else %}
                    <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">
                        No Result!
                    </h3>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}	