{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            {% if post %}
            <div class="mdl-card__title">
                <h1 class="mdl-cell mdl-cell--12-col mdl-typography--headline">{{ post.title }}</h1></div>
            <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
                <div>
                    <span>{{ post.update_time }}</span>
                    Archived in <strong><a href="{% url 'category' id=post.category.id %}">{{ post.category.category }}</a></strong>
                </div>
            </div>

            <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
                {{ post.content|safe }}
            </div>
            {% endif %}
        </div>
    </div>
</main>

{% endblock %}            